.App {
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 50s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  font-size: 2rem;
  color: #61dafb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.App-header button {
    padding: 5px 18px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 50px;
    border-radius: 5px;
    background: lightgray;
    color: black;
    border: none;
    box-shadow: 4px 4px 0 gray;
    transition: 0.15s;
}

.App-header button:hover {
  transform: scale(1.05)
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
